<section class="features staff" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>How it solves eye problems?</h2><br>
        <p>VisuoPrime Home Edition offers a wide range of therapies. <br>The doctor creates an exclusive configuration for the patient,<br>based on the degree of vision problems.</p>
        <hr><br>
      </div>

      <div class="row">

      </div>
      <div class="row">
        <div class="col-lg-12 my-auto">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-4">
                <div class="card shadow  bg-white rounded">
                    <img class="card-img-top" src="img/amblyopia-step1.svg" alt="Amblyopia Step I">
                    <div class="card-body">
                      <h3>Amblyopia: Monocular</h3>
                      <p class="card-text">Monocular therapies: Good eye of the patient is occluded and the therapy is done for the affected eye.</p>
                    </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card shadow  bg-white rounded">
                    <img class="card-img-top" src="img/amblyopia-step2.svg" alt="Amblyopia Step II">
                    <div class="card-body">
                      <h3>Amblyopia: MFBF</h3>
                      <p class="card-text">Monocular fixation in binocular field: Patient wears a red blue glass and contents of the therapy are projected in such a way that the patient views the target with the amblyopic eye and the background with the fellow eye.</p>
                    </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card shadow  bg-white rounded">
                    <img class="card-img-top" src="img/antisuppression.svg" alt="Anti-Suppression">
                    <div class="card-body">
                      <h3>Anti-Suppression</h3>
                      <p class="card-text">This procedure is designed in such a way that patient can complete the task only when he uses both the eyes. This is to eliminate suppression.</p>
                    </div>
                </div>
              </div>

        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="card shadow  bg-white rounded">
                <img class="card-img-top" src="img/accommodation.svg" alt="Accommodation">
                <div class="card-body">
                  <h3>Accommodation</h3>
                  <p class="card-text">Here the patient's capacity to adjust the focusing abilities of his eyes is trained.</p>
                </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card shadow  bg-white rounded">
                <img class="card-img-top" src="img/convergence-insufficiency.svg" alt="Convergence Insufficiency">
                <div class="card-body">
                  <h3>Vergence problems</h3>
                  <p class="card-text">The patient has the problem in converging or diverging the eyes appropriately, when the target moves close and far respectively. This may result in eyestrain, headaches, double vision etc.</p>
                </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card shadow  bg-white rounded">
                <img class="card-img-top" src="img/depth-perception.svg" alt="Depth Perception">
                <div class="card-body">
                  <h3>Depth Perception</h3>
                  <p class="card-text">The patient experiences problems in viewing the space in 3D affecting a number of activities and also limiting the work.</p>
                </div>
            </div>
          </div>
        </div>


            </div>

        </div>
      </div>

    </div>
    <div class="row video-d">
      <div class="col-lg-12 video-doodle text-center">
          <img class="mx-auto" src="img/video-visuoprime.png" style="cursor:pointer;margin-top: 50px;" alt="VisuoPrime Home Edition Video demo" data-toggle="modal" data-target="#myVisuoPrimeHomeModal">
      </div>

    </div>
  </section>
