<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="col-12" style="margin-bottom: 40px; margin-top: 15px;">
            <div style="display: table; margin-right: auto; margin-left: auto;"><a href="/"><img width="120%"
                        src="..."></a></div>
        </div>
        <div class="col-12" style="margin-bottom: 50px;">
            <div>
                <div class="backgroundForSharkTank">
                    <p class="text-center" style="color: red; padding: 20px;"><b>To check your Vision open this website
                            on your Desktop or Laptop</b></p>
                    <div class="text-center" style="padding: 0px 35px 35px;">
                        <h2 class="mb-1" style="color: black;">Improve Your Vision with !</h2>
                        <h5 class="mb-2" style="color: black;"> was recently featured on Shark Tank India and is
                            now available to help you improve your eyesight. Take our advanced diagnostic test and find
                            out if our vision therapy can help you see better.</h5><button type="button"
                            class="btn btn-danger">Try Now!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6"><img class="img-fluid" src=".."
                alt="sharks" style="position: fixed; bottom: 0px; max-width: 100%;"></div>
        <div class="col-12 col-md-5"></div>
    </div>
</body>

</html>