<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="content-inner">
        <div class="card" style="margin-top: 40px;">
            <div class="card-body">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xs-12 m-b30 wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                            <div class="section-head style-1 mb-4 align-items-center">
                                <h6 class="sub-title bgl-primary m-b20 text-primary ">Find Us</h6>
                                <h2 class="title">Find  affiliated Clinic Near You</h2>
                            </div>
                            <p>At CureSee, we're committed to providing our patients with the best possible care for
                                amblyopia. That's why we've partnered with a network of clinics across the country to
                                bring our AI-powered vision therapy to more people. On this page, you can search for a
                                clinic near you that offers CureSee therapy. Simply enter your location and we'll show
                                you a list of nearby clinics that are affiliated with us. You can also filter your
                                search by distance, services offered and other criteria. Don't let lazy eye hold you
                                back any longer. Find a CureSee-affiliated clinic near you and start your journey to
                                better vision today. As seen on Shark Tank India</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mt-10">Select State<div class=" css-b62m3t-container"><span
                            id="react-select-2-live-region" class="css-7pg0cj-a11yText"></span><span aria-live="polite"
                            aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                        <div class=" css-13cymwt-control">
                            <div class=" css-hlgwow">
                                <div class=" css-1dimb5e-singleValue">Select State...</div>
                                <div class=" css-19bb58m" data-value=""><input class="" autocapitalize="none"
                                        autocomplete="off" autocorrect="off" id="react-select-2-input"
                                        spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                                        aria-expanded="false" aria-haspopup="true" role="combobox" value=""
                                        style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                </div>
                            </div>
                            <div class=" css-1wy0on6"><span class=" css-1u9des2-indicatorSeparator"></span>
                                <div class=" css-1xc3v61-indicatorContainer" aria-hidden="true"><svg height="20"
                                        width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                        class="css-8mmkcg">
                                        <path
                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                        </path>
                                    </svg></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mt-10">Select City<div class=" css-b62m3t-container"><span
                            id="react-select-3-live-region" class="css-7pg0cj-a11yText"></span><span aria-live="polite"
                            aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                        <div class=" css-13cymwt-control">
                            <div class=" css-hlgwow">
                                <div class=" css-1dimb5e-singleValue">Select City...</div>
                                <div class=" css-19bb58m" data-value=""><input class="" autocapitalize="none"
                                        autocomplete="off" autocorrect="off" id="react-select-3-input"
                                        spellcheck="false" tabindex="0" type="text" aria-autocomplete="list"
                                        aria-expanded="false" aria-haspopup="true" role="combobox" value=""
                                        style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                </div>
                            </div>
                            <div class=" css-1wy0on6"><span class=" css-1u9des2-indicatorSeparator"></span>
                                <div class=" css-1xc3v61-indicatorContainer" aria-hidden="true"><svg height="20"
                                        width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false"
                                        class="css-8mmkcg">
                                        <path
                                            d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z">
                                        </path>
                                    </svg></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row"></div>
        </div>
    </section>
    <section class="content-inner bg-primary"
        style="background-image: url(&quot;images/background/bg3.png&quot;); background-repeat: no-repeat; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-xs-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="icon-bx-wraper style-4 text-center">
                        <div class="icon-bx-sm radius bg-green shadow-green m-b20"><a href="#" class="icon-cell"><i
                                    class="flaticon-smile"></i></a></div>
                        <div class="icon-content"><span class="title">Happy Patients</span>
                            <h2 class="counter m-b0 text-primary"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="icon-bx-wraper style-4 text-center m-tb30">
                        <div class="icon-bx-sm radius bg-yellow shadow-yellow m-b20"><a href="#" class="icon-cell"><i
                                    class="flaticon-line-graph"></i></a></div>
                        <div class="icon-content"><span class="title">Associated Doctors</span>
                            <h2 class="counter m-b0 text-primary"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                    <div class="icon-bx-wraper style-4 text-center">
                        <div class="icon-bx-sm radius bg-blue shadow-blue m-b20"><a href="#" class="icon-cell"><i
                                    class="flaticon-startup"></i></a></div>
                        <div class="icon-content"><span class="title">Cities</span>
                            <h2 class="counter m-b0 text-primary"></h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-6 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <div class="icon-bx-wraper style-4 text-center m-tb30">
                        <div class="icon-bx-sm radius bg-red shadow-red m-b20"><a href="#" class="icon-cell"><i
                                    class="flaticon-confetti"></i></a></div>
                        <div class="icon-content"><span class="title">Awards Won</span>
                            <h2 class="counter m-b0 text-primary"></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>