<div class="containerr">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a style="width: 50%; text-align: center;" class="navbar-brand" href="#">NAME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a routerLink="/find-clinic" routerLinkActive="active" class="nav-link" href="#">Find Clinic</a>
            </li>
            <li class="nav-item">
              <a routerLink="/eye-test" routerLinkActive="active" class="nav-link" href="#">Eye Test</a>
            </li>
            <li class="nav-item">
              <a routerLink="/accessories" routerLinkActive="active" class="nav-link" href="#" >Features</a>
            </li>
            <button (click)="onLogin()" type="button" class="btn btn-primary">Login</button>
          </ul>
        </div>
      </div>
    </nav>
  </div>